<!-- Page Wrapper -->
<div id="wrapper" [ng2-loading]="show" [config]="loadingConfig" [template]="customTemplate">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="modal-body">
                    <form [formGroup]="formOrder" (ngSubmit)="updateOrder()">
                        <div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card mb-4">
                                        <div class="card-header">Detalles Producto</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-xl-2">
                                                    <div class="form-group">
                                                        <img [src]="productImage" width="100" height="100" />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Producto</label>
                                                        <input class="form-control" type="text" placeholder=""
                                                            formControlName="nameProduct">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Precio</label>
                                                        <input class="form-control" type="text" placeholder=""
                                                            formControlName="priceProduct">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Cantidad</label>
                                                        <input class="form-control" type="text" placeholder=""
                                                            formControlName="estimateAmount">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Términos de pago</label>
                                                        <input class="form-control" type="text"
                                                            formControlName="paymentTerms">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Fecha de Entrega</label>
                                                        <input class="form-control" type="text"
                                                            formControlName="shippingDate">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Destino</label>
                                                        <input class="form-control" type="text"
                                                            formControlName="destiny">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">Detalles del cliente</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Cliente</label>
                                                        <input class="form-control" type="text"
                                                            formControlName="nameClient" #name>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Correo electrónico</label>
                                                        <input class="form-control" type="text"
                                                            formControlName="emailClient" #email>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="card mb-4">
                                        <div class="card-header">Detalles de la producción</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Avance</label>
                                                        <input class="form-control" type="text" placeholder=""
                                                            formControlName="stateProduction" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Avance de Producción</label>
                                                        <ng5-slider [(value)]="value" formControlName="stateProduction"
                                                            [options]="options" (valueChange)="getAdvance($event)">
                                                        </ng5-slider>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-info btn-xm">Actualizar
                                                            avance</button>

                                                        <button type="button" class="btn btn-warning btn-xm ml-5"
                                                            data-toggle="modal" data-target="#exampleModalXl">Reportar
                                                            problema</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">Proceso de Exportación </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <div class="custom-control custom-switch">
                                                                <input *ngIf="stateProduction"
                                                                    class="custom-control-input" type="checkbox"
                                                                    id="customSwitch1"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="checkIdDAM" [disabled]="isReadonlyDAM"
                                                                    mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                                                    [popoverMessage]="popoverMessage"
                                                                    [confirmText]="confirmText"
                                                                    [cancelText]="cancelText" placement="top"
                                                                    (confirm)="getSwitcherDAM(isSwitchedDAM)"
                                                                    (cancel)="getCancelDAM(isSwitchedDAM)">
                                                                <label class="custom-control-label"
                                                                    for="customSwitch1">Generación
                                                                    de archivo DAM</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">

                                                        <div class="form-group">

                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-switch">
                                                            <input class="custom-control-input" type="checkbox"
                                                                id="customSwitch2" [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="checkIdDepostTemporary"
                                                                [disabled]="isReadonlyDepostTemporary"
                                                                mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                                                [popoverMessage]="popoverMessage"
                                                                [confirmText]="confirmText" [cancelText]="cancelText"
                                                                placement="top"
                                                                (confirm)="getSwitcherDepost(isSwitchedDepost)"
                                                                (cancel)="getCancelDepost(isSwitchedDepost)">
                                                            <label class="custom-control-label"
                                                                for="customSwitch2">Depósito
                                                                Temporal</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-switch">
                                                            <input class="custom-control-input" type="checkbox"
                                                                id="customSwitch3" [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="checkIdOrder" [disabled]="isReadonlyOrder"
                                                                mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                                                [popoverMessage]="popoverMessage"
                                                                [confirmText]="confirmText" [cancelText]="cancelText"
                                                                placement="top"
                                                                (confirm)="getSwitcherOrder(isSwitchedOrder)"
                                                                (cancel)="getCancelOrder(isSwitchedOrder)">
                                                            <label class="custom-control-label"
                                                                for="customSwitch3">Orden de
                                                                Salida</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Register -->
<div class="modal fade" id="exampleModalXl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pedido reporte</h5>
                <button class="close" #closebutton type="button" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal"
                                    data-target="#exampleModalXl">
                                    <i class="fas fa-plus"></i> Agregar problema
                                </button>
                            </div>
                            <div class="form-group">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Accordion -->
                                    <a href="#collapseCardExample" class="d-block card-header py-3"
                                        data-toggle="collapse" role="button" aria-expanded="true"
                                        aria-controls="collapseCardExample">
                                        <h6 class="m-0 font-weight-bold text-primary">Detalle</h6>
                                    </a>
                                    <!-- Card Content - Collapse -->
                                    <div class="collapse show" id="collapseCardExample">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Seleccione el proceso</label>
                                                <select class="form-control">
                                                    <option *ngIf="stateProduction !== '100'" value="stateProductionReport">Avance de Producción
                                                    </option>
                                                    <option *ngIf="checkDAM !== true" value="stateDAMReport">Generación de Documento Aduanero de
                                                        Mercancías
                                                    </option>
                                                    <option *ngIf="checkDepostTemporary !== true" value="stateDepostTemporaryReport">Depósito Temporal
                                                    </option>
                                                    <option *ngIf="checkOrder !== true" value="stateOrderReport">Orden de Salida</option>
                                                </select>
                                            </div>
                                            <label>Descripción</label>
                                            <textarea class="form-control" rows="3" [(ngModel)]="order.stateDAMReport"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" (click)="updateOrderReport()" class="btn btn-success">Informar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #customTemplate>
    <div class="align-items-center d-flex flex-column flex-direction">
        <p>Cargando ...</p>
        <div class="custom-loader"></div>
    </div>
</ng-template>