<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Órdenes</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable class='table table-bordered' id="datatable" [dtOptions]="datatableOptions"
                                [dtTrigger]="datatableTrigger" width='100%' cellspacing='0'>
                                <thead>
                                    <tr>
                                        <th>Nro</th>
                                        <th>Cliente</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orders; index as i">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ order.userBuyerName }}</td>
                                        <td>{{ order.productName }}</td>
                                        <td>{{ order.priceProduct }}</td>
                                        <td>{{ order.stateStartingOrder }}</td>
                                        <td>{{ order.shippingDate }}</td>
                                        <td>
                                            <a [routerLink]="['/editorder/', order.id]" class="btn btn-warning mr-3"><i
                                                    class="fa fa-edit"></i></a>
                                            <a routerLink="/chat" class="btn btn-danger mr-3" target="_blank"><i
                                                    class="fa fa-comments"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>