<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">COTIZACIONES</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table datatable class='table table-bordered' [dtOptions]="datatableOptions"
                                [dtTrigger]="datatableTrigger" width='100%' cellspacing='0'>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Producto</th>
                                        <th>Cliente</th>
                                        <th>Destino</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let quotation of quotations; index as i">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ quotation.productName }}</td>
                                        <td>{{ quotation.userName }}</td>
                                        <td>{{ quotation.destiny }}</td>
                                        <td>{{ quotation.aplicationDate }}</td>
                                        <td *ngIf="quotation.status === 'Por atender'"><button
                                                class="btn btn-secondary btn-sm" type="button">
                                                <i class="fas fa-spinner mr-2"></i>{{ quotation.status }}</button></td>

                                        <td *ngIf="quotation.status === 'Respondido'"><button
                                                class="btn btn-success btn-sm" type="button">
                                                <i class="fas fa-check mr-2"></i>{{ quotation.status }}</button></td>

                                        <td *ngIf="quotation.status === 'Rechazado'"><button
                                                class="btn btn-danger btn-sm" type="button">
                                                <i class="fas fa-times mr-2"></i>{{ quotation.status }}</button></td>

                                        <td>
                                            <a [routerLink]="['/editquotation/', quotation.id]"
                                                class="btn btn-warning mr-3"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>