<div class="layout">
    <!-- Sidebar -->
    <div class="sidebarchat">
        <div class="tab-content h-100" role="tablist">
            <div class="tab-pane fade h-100" id="tab-content-create-chat" role="tabpanel">
                <div class="d-flex flex-column h-100">

                </div>
            </div>

            <div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
                <div class="d-flex flex-column h-100">

                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6">
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade h-100 show active" id="tab-content-dialogs" role="tabpanel">
                <div class="d-flex flex-column h-100">

                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6">

                            <!-- Title -->
                            <h4 class="font-bold mb-6">Clientes</h4>
                            <!-- Title -->

                            <!-- Chats -->
                            <nav class="nav d-block list-discussions-js mb-n6">
                                <!-- Chat link -->
                                <!-- Chat link -->
                                <ng-container *ngFor="let item of users">
                                    <a class="text-reset nav-link p-0 mb-6" (click)="listMessageUser(item.id)">
                                        <div class="card card-active-listener">
                                            <div class="card-body">

                                                <div class="media">

                                                    <div class="avatar avatar-online mr-5">
                                                        <img class="avatar-img"
                                                            src="../../../assets/images/users_chat.png" alt="" >
                                                        
                                                    </div>
                                                    <div class="media-body overflow-hidden">
                                                        <div class="d-flex align-items-center mb-1">
                                                            <h6 class="text-truncate mb-0 mr-auto">{{item.name}}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </ng-container>
                                <!-- Chat link -->
                            </nav>
                            <!-- Chats -->
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane fade h-100" id="tab-content-demos" role="tabpanel">
                <div class="d-flex flex-column h-100">

                    <div class="hide-scrollbar">
                        <div class="container-fluid py-6">

                            <!-- Card -->
                            <div class="card mb-6">
                                <div class="card-body">

                                    <div class="media align-items-center">
                                        <div class="mr-5">
                                            <img src="../../../assets/images/users_chat.png" class="fill-primary"
                                                data-inject-svg="" alt="" style="height: 46px; width: 46px;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar -->

    <!-- Main Content -->
    <div class="main main-visible" data-mobile-height="">
        <ng-container *ngIf="userSelect">
            <!-- Chat -->
            <div id="chat-2" class="chat dropzone-form-js">

                <!-- Chat: body -->
                <div class="chat-body">

                    <!-- Chat: Header -->
                    <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">

                            <div class="row align-items-center">
                                <!-- Close chat(mobile) -->
                                <div class="col-3 d-xl-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted px-0" href="#" data-chat="open">
                                                <i class="icon-md fe-chevron-left"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Chat photo -->
                                <div class="col-6 col-xl-6">
                                    <div class="media text-center text-xl-left">
                                        <div class="avatar avatar-sm d-none d-lg-inline-block mr-5">
                                            <img src="../../../assets/images/users_chat.png" class="avatar-img" alt="">
                                        </div>

                                        <div class="media-body align-self-center text-truncate">
                                            <h6 class="text-truncate mb-n1">{{userSelect.name}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .row -->
                        </div>
                    </div>
                    <!-- Chat: Header -->

                    <!-- Chat: Content-->
                    <div class="chat-content px-lg-8" #scrollMe>
                        <div class="container-xxl py-6 py-lg-10">

                            <ng-container *ngFor="let message of messages">
                                <!-- Message -->
                                <div class="message" *ngIf="userSelect.id === message.from">
                                    <!-- Avatar -->
                                    <a class="avatar avatar-sm mr-4 mr-lg-5" href="#"
                                        data-chat-sidebar-toggle="#chat-2-info">
                                        <img class="avatar-img" src="../../../assets/images/users_chat.png" alt="">
                                    </a>

                                    <!-- Message: body -->
                                    <div class="message-body">

                                        <!-- Message: row -->
                                        <div class="message-row">
                                            <div class="d-flex align-items-center">

                                                <!-- Message: content -->
                                                <div class="message-content bg-light">
                                                    <h6 class="mb-2">{{userSelect.name}}</h6>
                                                    <div>{{message.translatedMessage}}</div>
                                                    <div>{{message.messageText}}</div>
                                                    <div class="mt-1">
                                                        <small class="opacity-65">{{message.createAt}}</small>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Message: row -->

                                    </div>
                                    <!-- Message: Body -->
                                </div>
                                <!-- Message -->

                                <!-- Message -->
                                <div class="message message-right" *ngIf="from === message.from">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                        <img class="avatar-img"
                                            src="https://firebasestorage.googleapis.com/v0/b/explore-peru-from-abroad.appspot.com/o/users%2FLogo_bu.jpg?alt=media&token=f21aff0f-c678-4979-9fb1-5d44d0004e26"
                                            alt="">
                                    </div>

                                    <!-- Message: body -->
                                    <div class="message-body">

                                        <!-- Message: row -->
                                        <div class="message-row">
                                            <div class="d-flex align-items-center justify-content-end">

                                                <!-- Message: content -->
                                                <div class="message-content bg-primary text-white">
                                                    <h6 class="mb-2"></h6>
                                                    <div>Romex</div>
                                                    <div>{{message.messageText}}</div>
                                                    <div>{{message.translatedMessage}}</div>
                                                    <div class="mt-1">
                                                        <small class="opacity-65">{{message.createAt}}</small>
                                                    </div>
                                                </div>
                                                <!-- Message: content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Message: body -->
                                </div>
                                <!-- Message -->
                            </ng-container>

                            <!-- Divider -->
                            <!-- <div class="message-divider my-9 mx-lg-5">
                                <div class="row align-items-center">

                                    <div class="col">
                                        <hr>
                                    </div>

                                    <div class="col-auto">
                                        <small class="text-muted">Today</small>
                                    </div>

                                    <div class="col">
                                        <hr>
                                    </div>
                                </div>
                            </div> -->
                            <!-- Divider -->

                        </div>

                        <!-- Scroll to end -->
                        <div class="end-of-chat"></div>
                    </div>
                    <!-- Chat: Content -->


                    <!-- Chat: Footer -->
                    <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">

                            <form id="chat-id-2-form" #sendMessage="ngForm" (ngSubmit)="saveMessage(sendMessage)"
                                data-emoji-form="">
                                <div class="form-row align-items-center">
                                    <div class="col">
                                        <div class="input-group">

                                            <!-- Textarea -->
                                            <textarea id="chat-id-2-input" class="form-control bg-transparent border-0"
                                                placeholder="Escribe tu mensaje" rows="1" data-emoji-input=""
                                                data-autosize="true" #messageText="ngModel" name="messageText"
                                                [(ngModel)]="message.messageText"></textarea>
                                            <!-- Emoji button -->
                                        </div>
                                    </div>

                                    <!-- Submit button -->
                                    <div class="col-auto">
                                        <button class="btn btn-ico btn-primary rounded-circle" type="submit">
                                            <span><i class="fas fa-paper-plane"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- Chat: Footer -->
                </div>
                <!-- Chat: body -->
            </div>
            <!-- Chat -->
        </ng-container>
    </div>
    <!-- Main Content -->
</div>
<!-- Layout -->