<div class="layout">
    <!-- Main Content -->
    <div class="main main-visible" data-mobile-height="">

        <ng-container>
            <!-- Chat -->
            <div id="chat-2" class="chat dropzone-form-js">

                <!-- Chat: body -->
                <div class="chat-body">

                    <!-- Chat: Content-->
                    <div class="chat-content px-lg-8" #scrollMe>
                        <div class="container-xxl py-6 py-lg-10">

                            <ng-container *ngFor="let message of messages | async">
                                <!-- Message -->
                                <div class="message">
                                    <!-- Avatar -->
                                    <a class="avatar avatar-sm mr-4 mr-lg-5" href="#"
                                        data-chat-sidebar-toggle="#chat-2-info">
                                        <img class="avatar-img" src="../../../assets/images/users_chat.png" alt="">
                                    </a>

                                    <!-- Message: body -->
                                    <div class="message-body">

                                        <!-- Message: row -->
                                        <div class="message-row">
                                            <div class="d-flex align-items-center">

                                                <!-- Message: content -->
                                                <div class="message-content bg-light">
                                                    <h6 class="mb-2"></h6>
                                                    <div>{{message.messageText}}</div>                                                  
                                                    <div></div>


                                                    <div class="mt-1">
                                                        <small class="opacity-65"></small>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Message: row -->

                                    </div>
                                    <!-- Message: Body -->
                                </div>
                                <!-- Message -->

                                <!-- Message -->
                                <div class="message message-right">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
                                        <img class="avatar-img" src="../../../assets/images/users_chat.png" alt="">
                                    </div>

                                    <!-- Message: body -->
                                    <div class="message-body">

                                        <!-- Message: row -->
                                        <div class="message-row">
                                            <div class="d-flex align-items-center justify-content-end">

                                                <!-- Message: content -->
                                                <div class="message-content bg-primary text-white">
                                                    <div></div>
                                                    <div></div>

                                                    <div class="mt-1">
                                                        <small class="opacity-65"></small>
                                                    </div>
                                                </div>
                                                <!-- Message: content -->

                                            </div>
                                        </div>

                                    </div>
                                    <!-- Message: body -->
                                </div>
                                <!-- Message -->
                            </ng-container>



                            <!-- Divider -->
                            <!-- <div class="message-divider my-9 mx-lg-5">
                                <div class="row align-items-center">

                                    <div class="col">
                                        <hr>
                                    </div>

                                    <div class="col-auto">
                                        <small class="text-muted">Today</small>
                                    </div>

                                    <div class="col">
                                        <hr>
                                    </div>
                                </div>
                            </div> -->
                            <!-- Divider -->


                        </div>

                        <!-- Scroll to end -->
                        <div class="end-of-chat"></div>
                    </div>
                    <!-- Chat: Content -->


                    <!-- Chat: Footer -->
                    <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">

                            <form id="chat-id-2-form" #sendMessage="ngForm" (ngSubmit)="saveMessage(sendMessage)" data-emoji-form="">
                                <div class="form-row align-items-center">
                                    <div class="col">
                                        <div class="input-group">

                                            <!-- Textarea -->
                                            <textarea id="chat-id-2-input" class="form-control bg-transparent border-0"
                                                placeholder="Escribe tu mensaje" rows="1" data-emoji-input=""
                                                data-autosize="true" #messageText="ngModel" name="messageText" [(ngModel)]="message.messageText" required></textarea>

                                            <!-- Emoji button -->

                                        </div>

                                    </div>

                                    <!-- Submit button -->
                                    <div class="col-auto">
                                        <button class="btn btn-ico btn-primary rounded-circle" type="submit">
                                            <span><i class="fas fa-paper-plane"></i></span>
                                        </button>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                    <!-- Chat: Footer -->
                </div>
                <!-- Chat: body -->

            </div>
            <!-- Chat -->
        </ng-container>

    </div>
</div>
<!-- Main Content -->