<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="modal-body">
                    <div *ngIf="!submitted">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">Detalles Producto</div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input class="form-control" id="txtnombre" type="text"
                                                placeholder="Nombre del producto" [(ngModel)]="product.name">
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Descripción</label>
                                                    <textarea class="form-control" id="txtdescripcion" rows="5"
                                                        [(ngModel)]="product.detail"></textarea>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Detalle</label>
                                                    <textarea [ngxSummernote]="config" [(summernoteModel)]="htmlOutput"
                                                        class="form-control" id="txtdescripcion" rows="7"
                                                        [(ngModel)]="product.description"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Precio</label>
                                                    <input class="form-control" id="txtprecio" type="text"
                                                        placeholder="Precio" [(ngModel)]="product.price">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Categoría</label>
                                                    <div class="input-group">
                                                        <select class="form-control" id="cbocategoria" #inputCategory
                                                            [(ngModel)]="product.category"
                                                            (change)="getSubcategory(inputCategory)">
                                                            <option *ngFor="let category of categories"
                                                                [value]="category.name">{{category.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Subcategoría</label>
                                                    <div class="input-group">
                                                        <select class="form-control" name="productSubcategory"
                                                            [(ngModel)]="product.subcategory">
                                                            <option *ngFor="let subcategory of subcategories"
                                                                [value]="subcategory.name">
                                                                {{subcategory.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Estado</label>
                                                    <select class="form-control" id="cboestado"
                                                        [(ngModel)]="product.status">
                                                        <option selected>-Seleccione-</option>
                                                        <option value="1">Publicado</option>
                                                        <option value="0">No Publicado</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">Imagen Principal</div>
                                    <div class="custom-dropzone mb-5" ngx-dropzone (change)="onSelect($event)">
                                        <ngx-dropzone-label>
                                            <div>
                                                <h2 class="text-muted"></h2>
                                            </div>
                                        </ngx-dropzone-label>
                                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                            *ngFor="let f of files" [file]="f" [removable]="true"
                                            (removed)="onRemove(f)">
                                            <ngx-dropzone-label>
                                                {{f.name }} {{f.type}}
                                            </ngx-dropzone-label>

                                        </ngx-dropzone-image-preview>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">Galería Producto</div>
                                    <div class="custom-dropzone mb-5" ngx-dropzone (change)="onSelect($event)">
                                        <ngx-dropzone-label>
                                            <div>
                                                <h2 class="text-muted">Arrastre las imágenes</h2>
                                            </div>
                                        </ngx-dropzone-label>
                                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                            *ngFor="let f of files" [file]="f" [removable]="true"
                                            (removed)="onRemove(f)">
                                            <ngx-dropzone-label>
                                                {{f.name }} {{f.type}}
                                            </ngx-dropzone-label>

                                        </ngx-dropzone-image-preview>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btnCancelar" type="button" class="btn btn-danger"
                                data-dismiss="modal">Cancelar</button>
                            <button type="button" (click)="saveProduct()" class="btn btn-success">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>